@media screen and (orientation:landscape) {
    .bi-list{
        display: none !important;
    }
    header{
        display: flex;
        background: #ffffff;
        z-index: 997;
    }
    .main-head{
        display: flex;
        background: #ffffff;
    }
    .main-head-cont{
        background-color: #ffffff;
    }
    .main-head .portfolio-logo{
        order: 1;
    }
    .main-head #navi{
        order: 2;
    }
    .main-head .media-links{
        order: 3;
        margin-left: 875px;
    }
    #menus{
        display: flex;
        list-style: unset;
        margin-top: -15px;
        border: unset;
        margin-left: -120px;
        text-align: center;
        background-color: #ffffff;
    }
    #menus li a{
        text-align: center;
        text-decoration: unset;
    }
    .dropdown-item-text:hover{
        background-color: unset;
        color: #ff0000;
    }
    .project{
        padding: 0.8rem 2rem 0.8rem 2rem;
        text-decoration: unset;
        color: #ffffff;
        cursor: pointer;
    }
    .project:hover{
        transform: translateY(-2px);
        transition:all 0.3s ease;
    }
    .connect{
        border: 1px solid #ff0000;
        margin-left: 20px;
        padding: 0.8rem 2rem 0.8rem 2rem;
        text-decoration: unset;
        color: #ff0000;
        cursor: pointer;
    }
    .connect:hover{
        background-color: #ff0000;
        color: #ffffff;
        transform: translateY(-2px);
        transition:all 0.3s ease;
    }
    .home-cont-img{
        width: 600px;
        height: 400px;
        margin-top: -30px;
        margin-left: 70px;
    }
    .home-cont-img img{
        width: 100%;
        height: 100%;
    }
    .about-me-img{
        width: 650px;
        height: 600px;
    }
    .about-me-img img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    }
    .about-me-det{
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        height: 300px;
    }
    .skills-heading{
        text-align: center;
    }
    .skills-cont-head-txt::before{
        content: "";
        width: 50px;
        height: 2px;
        background-color: #ff0000;
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 8px;
    }
    .skills-cont-head-txt::after{
        content: "";
        width: 50px;
        height: 2px;
        background-color: #ff0000;
        display: inline-block;
        margin-bottom: 10px;
        margin-left: 8px;
    }
    .skill-main-head-txt::after{
        content: "";
        display: inline-block;
        width: 50px;
        height: 2px;
        background-color: #ff0000;
        display: block;
    }
    .skills-list-1{
        width: 600px;
        padding: 30px;
        align-items: center;
        background-color: #f8f8f8;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    .frontend-lan-1 .progress{
        height: 8px;
        width: 500px;
    }
    .frontend-lan-1 .progress .progress-bar{
        background-color: #ff0000;
    }
    .skills-list-2{
        width: 600px;
        padding: 30px;
        align-items: center;
        background-color: #f8f8f8;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-left: 80px;
    }
    .resume-sec-heading{
        display: block;
        text-align: center;
        justify-content: center;
    }
    .resume-desc{
        margin-top: 20px;
        margin-left: 400px;
    }
    .education{
        margin-left: 120px;
        margin-top: 30px;
    }
    .timeline{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .timeline::before{
        content: "";
        position: absolute;
        left: 30%;
        display: inline-block;
        width: 2px;
        height: 410px;
        background-color: #ff0000;
    }
    .timeline-dot{
        width: 15px;
        height: 15px;
        background-color: #ff0000;
        border-radius: 50%;
        position: absolute;
        left: 23.55%;
    }
    .clg-deg{
        margin-left: 80px;
    }
    .clg-deg-desc{
        width: 900px;
    }
    .sch-education-timeline{
        margin-top: 50px;
    }
    .sch-deg{
        margin-left: 100px;
    }
    .sch-deg-desc{
        width: 900px;
    }
    .ten-education-timeline{
        margin-top: 50px;
    }
    .projects-heading{
        text-align: center;
    }
    .projects-desc{
        margin-top: 20px;
        margin-left: 350px;
    }
    .projects-listing{
        margin-left: 75px;
    }
    .project-1{
        width: 600px;
        height: 500px;
        margin-left: 52px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    }
    .view-btn{
        font-size: 20px;
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 50%;
        color: #ff0000;
        position: absolute;
        background-color: #f8f8f8;
    }
    .view-btn:hover{
        background-color: #ff0000;
        color: #f8f8f8;
    }
    .arrow-btn{
        margin-left: 60px;
        font-size: 20px;
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 50%;
        color: #ff0000;
        background-color: #f8f8f8;
    }
    .arrow-btn:hover{
        background-color: #ff0000;
        color: #f8f8f8;
    }
    .projects-btn{
        margin-left: 40px;
        display: none;
        position: absolute;
        top: 270px;
        transform: translateY(0px);
        transition-duration: 2s;
    }
    .project-1:hover .projects-btn{
        transform: translateY(-40px);
        transition-duration: 5ms;
        transition-timing-function: ease-in-out;
        display: flex;
        transition: all;
    }
    .certificate-heading{
        text-align: center;
    }
    .certificate-heading p{
        width: 800px;
        margin-left: 350px;
        margin-top: 6px;
    }
    .certificate-list{
        margin-top: 80px;
        margin-left: 350px;
    }
    .certificate-img{
        width: 800px;
        height: 500px;
    }
    .certificate-img img{
        height: 100%;
        width: 100%;
    }
    .contacts{
        background-color: #faf9fb;
    }
    .contact-main-heading{
        margin-top: 15px;
        font-size: 17px;
    }
    .contact-desc{
        width: 600px;
        margin-top: 30px;
    }
    .contact-details{
        margin-top: 50px;
    }
    .contact-right{
        width: 600px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    }
    .submit button{
        background-color: #ff0000;
        border-radius: 5px;
        color: #ffffff;
    }
    .scroll-top{
        width: 44px;
        height: 44px;
        background-color: #ff0000;
        color: #ffffff;
        position: fixed;
        right: 15px;
        z-index: 99999;
        border-radius: 50px;
        bottom: 15px;
        text-decoration: unset;
    }
    .scroll-top span{
        padding-top: 12px;
        padding-left: 13px;
    }
    .pro-1-heading{
        text-align: center;
        text-decoration: underline;
        color: #ff0000;
        margin-top: 30px;
    }
    .pro-1{
        margin-top: 150px;
        margin-left: 100px;
        margin-right: 100px;
    }
    .pro-1-cont{
        height: 300px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    }
    .pro-1-cont-det{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
    .pro-1-img img{
        width: 100%;
        height: 100%;
    }
    .pro-1-desc{
        margin-left: 20px;
    }
    .pro-1-body{
        width: 700px;
    }
    .pro-1-btns{
        margin-top: 30px;
        text-align: center;
    }
    .pro-1-btn{
        border-radius: 10px;
        width: 250px;
        height: 50px;
        background-color: #ff0000;
        color: #ffffff;
        font-weight: 500;
    }
    .pro-1-back{
        border-radius: 10px;
        width: 250px;
        height: 50px;
        border: 1px solid #ff0000;
        color: #ff0000;
        font-weight: 500;
    }
    .pro-1-back:hover{
        background-color: #ff0000;
        color: #ffffff;
        transition:all 0.3s ease;
    }
}
@media screen and (orientation:portrait) {
    body{
        width: 100%;
    }
    header{
        width: 100%;
        z-index: 997;
        background-color: #ffffff;
    }
    .main-head{
        width: 380px;
        margin-left: -2px;   
    }
    .main-head .portfolio-logo{
        order: 1;
    }
    .main-head #navi{
        order: 3;
        margin-left: 20px;
    }
    .main-head .media-links{
        order: 2;
        margin-left: 100px;
    }
    #menus{
        margin-top: 100px;
        max-width: 100%;
        background-color: #ffffff;
    }
    .dropdown-item-text{
        margin-left: unset;
    }
    .dropdown-item-text:hover{
        color: #ff0000;
    }
    section{
        width: 100%;
    }
    .home{
        width: 100%;
        margin-left: unset;
    }
    .home-cont{
        display: block;
        padding-top: 50px;
    }
    .home-cont-text{
        display: block;
    }
    .home-cont-heading{
        text-align: center;
    }
    .home-cont-desc{
        width: 400px;
        text-align: center;
    }
    .nav-btn{
        text-align: center;
        display: block;
    }
    .project{
        padding: 0.8rem 2rem 0.8rem 2rem;
        text-decoration: unset;
        color: #ffffff;
        cursor: pointer;
    }
    .project:hover{
        transform: translateY(-2px);
        transition:all 0.3s ease;
    }
    .connect{
        border: 1px solid #ff0000;
        margin-top: 10px;
        padding: 0.8rem 2rem 0.8rem 2rem;
        text-decoration: unset;
        color: #ff0000;
        cursor: pointer;
    }
    .connect:hover{
        background-color: #ff0000;
        color: #ffffff;
        transform: translateY(-2px);
        transition:all 0.3s ease;
    }
    .home-cont-img{
        margin-top: 20px;
    }
    .about{
        width: 100%;
    }
    .about-cont{
        display: block;
        width: 100%;
    }
    .about-cont-txt{
        text-align: center;
        display: block;
        width: 100%;
    }
    .about-cont-heading{
        margin-left: -230px;
    }
    .about-cont-sub{
        width: 300px;
        margin-left: -75px;
    }
    .about-me{
        display: block;
    }
    .about-me-img{
        width: 340px;
        height: 340px;
        margin-left: -95px;
    }
    .about-me-img img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    }
    .about-me-cont{
        margin-left: -100px;
        margin-top: 50px;
    }
    .about-me-desc{
        width: 360px;
    }
    .about-me-det{
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
        height: 280px;
        width: 350px;
    }
    .about-me-det-cont{
        padding: 20px;
    }
    .about-me-left{
        width: 165px;
    }
    .about-me-right{
        margin-left: -30px;
        width: 165px;
    }
    .skills{
        width: 100%;
    }
    .skills-cont{
        width: 100%;
        display: block;
    }
    .skills-heading{
        width: 100%;
        text-align: center;
    }
    .skills-cont-head{
        margin-left: -120px;
    }
    .skills-cont-head-des{
        width: 370px;
        margin-left: 10px;
    }
    .skills-cont-head-txt{
        margin-left: -120px;
    }
    .skills-cont-head-txt::before{
        content: "";
        width: 50px;
        height: 2px;
        background-color: #ff0000;
        display: inline-block;
        margin-bottom: 7px;
        margin-right: 8px;
    }
    .skills-cont-head-txt::after{
        content: "";
        width: 50px;
        height: 2px;
        background-color: #ff0000;
        display: inline-block;
        margin-bottom: 7px;
        margin-left: 8px;
    }
    .skills-list{
        display: block;
    }
    .skills-list-1{
        width: 370px;
        padding: 30px;
        align-items: center;
        background-color: #f8f8f8;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-left: -110px;
        margin-bottom: 20px;
    }
    .skill-main-head-txt::after{
        content: "";
        display: inline-block;
        width: 50px;
        height: 2px;
        background-color: #ff0000;
        display: block;
    }
    .frontend-lan-1 .progress{
        height: 8px;
        width: 300px;
    }
    .frontend-lan-1 .progress .progress-bar{
        background-color: #ff0000;
    }
    .skills-list-2{
        width: 370px;
        padding: 30px;
        align-items: center;
        background-color: #f8f8f8;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-left: -110px;
    }
    .resume-sec{
        width: 100%;
    }
    .resume-sec-cont{
        width: 100%;
    }
    .resume-sec-heading{
        width: 100%;
        text-align: center;
    }
    .resume-desc p{
        width: 100%;
    }
    .education{
        width: 100%;
    }
    .education-heading{
        width: 100%;
    }
    .timeline{
        width: 100%;
        display: block;
        padding-left: 17px;
        margin-top: 40px;
    }
    .clg-education-timeline{
        display: block;
    }
    .sch-education-timeline{
        display: block;
        margin-top: 30px;
    }
    .ten-education-timeline{
        display: block;
        margin-top: 30px;
    }
    .timeline::before{
        content: "";
        position: absolute;
        display: inline-block;
        left: 6px;
        width: 2px;
        height: 750px;
        background-color: #ff0000;
    }
    .timeline-dot{
        width: 15px;
        height: 15px;
        background-color: #ff0000;
        border-radius: 50%;
        position: absolute;
        left: -17px;
        top: 6px;
    }
    .projects{
        width: 100%;
    }
    .projects-cont{
        width: 100%;
    }
    .projects-heading{
        width: 100%;
        text-align: center;
    }
    .projects-desc{
        width: 100%;
    }
    .projects-listing{
        width: 100%;
        display: block;
        padding-top: -60px;
    }
    .project-1{
        margin-left: 10px;
        margin-right: 10px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
        margin-top: 30px;
    }
    .view-btn{
        font-size: 20px;
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 50%;
        color: #ff0000;
        position: absolute;
        background-color: #f8f8f8;
    }
    .view-btn:hover{
        background-color: #ff0000;
        color: #f8f8f8;
    }
    .arrow-btn{
        margin-left: 60px;
        font-size: 20px;
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 50%;
        color: #ff0000;
        background-color: #f8f8f8;
    }
    .arrow-btn:hover{
        background-color: #ff0000;
        color: #f8f8f8;
    }
    .projects-btn{
        margin-left: 20px;
        display: none;
        position: absolute;
        top: 170px;
        transform: translateY(0px);
        transition-duration: 2s;
    }
    .project-1:hover .projects-btn{
        transform: translateY(-40px);
        transition-duration: 5ms;
        transition-timing-function: ease-in-out;
        display: flex;
        transition: all;
    }
    .certificate{
        width: 100%;
    }
    .certificate-cont{
        width: 100%;
    }
    .certificate-heading{
        width: 100%;
        display: block;
        text-align: center;
    }
    .certificate-list{
        width: 100%;
    }
    .certificate-img{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -20px;
    }
    .contacts{
        width: 100%;
    }
    .contact-cont{
        width: 100%;
        display: block;
    }
    .contact-left{
        width: 100%;
        margin-left: -90px;
    }
    .contact-heading{
        width: 100%;
    }
    .contact-main-heading{
        width: 100%;
    }
    .contact-desc{
        width: 100%;
    }
    .contact-address-cont{
        width: 100%;
    }
    .contact-right{
        width: 360px;
        margin-left: -90px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
        margin-top: 50px;
    }
    .contact-form{
        width: 100%;
    }
    .submit button{
        background-color: #ff0000;
        border-radius: 5px;
        color: #ffffff;
    }
    footer{
        width: 100%;
    }
    .scroll-top{
        width: 44px;
        height: 44px;
        background-color: #ff0000;
        color: #ffffff;
        position: fixed;
        right: 15px;
        z-index: 99999;
        border-radius: 50px;
        bottom: 15px;
        text-decoration: unset;
    }
    .scroll-top span{
        padding-top: 12px;
        padding-left: 13px;
    }
    .pro-1-heading{
        width: 100%;
        text-align: center;
        margin-top: 20px;
        text-decoration: underline;
        color: #ff0000;
    }
    .pro-1{
        width: 100%;
        margin-top: 50px;
        margin-left: 4px;
        margin-bottom: 20px;
    }
    .pro-1-cont{
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    }
    .pro-1-cont-det{
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    .pro-1-img img{
        width: 100%;
    }
    .pro-1-desc{
        margin-top: 20px;
    }
    .pro-1-btns{
        margin-top: 30px;
        text-align: center;
    }
    .pro-1-btn{
        border-radius: 10px;
        width: 250px;
        height: 50px;
        background-color: #ff0000;
        color: #ffffff;
        font-weight: 500;
        order: 1;
        margin-top: 10px;
    }
    .pro-1-back{
        border-radius: 10px;
        width: 250px;
        height: 50px;
        border: 1px solid #ff0000;
        color: #ff0000;
        font-weight: 500;
        order: 2;
    }
    .pro-1-back:hover{
        background-color: #ff0000;
        color: #ffffff;
        transition:all 0.3s ease;
    }
}